.dialog{
    display: none;
    position:fixed;
    width: 50%;
    height: 50%;
    border: 1px solid black;
    left: 25%;
    top:25%;
    background-color: rgb(183, 183, 128);
    padding: 1rem;
    text-align: center;
}